{{ define "main" }}
<section class="hero has-navbar-fixed-top">
    <div class="container">
        <img src="{{ .Params.MainImage | absURL }}" alt="BALLOON">
    </div>
</section>
<section class="section">
    <div class="container">
        {{ $colNum := 3.0 }}
        {{ $lastRemainder := 0.0 }}
        {{ range $index, $elem := .Params.Images }}
        {{ $divided := math.Floor (div $index $colNum) }}
        {{ $multiplied := mul $divided $colNum }}
        {{ $remainder := math.Round (sub $index $multiplied) }}
        {{ if eq $remainder 0.0 }}
        <div class="columns">
            <div class="column">
                <a data-fancybox="gallery" data-caption="" href="{{ . | absURL }}">
                    <figure class="image is-square">
                        <img src="{{ . | absURL }}" class="img-fluid">
                    </figure>
                </a>
            </div>
            {{ else }}
            <div class="column">
                <a data-fancybox="gallery" data-caption="" href="{{ . | absURL }}">
                    <figure class="image is-square">
                        <img src="{{ . | absURL }}" class="img-fluid">
                    </figure>
                </a>
            </div>
            {{ if eq $remainder 2.0 }}
        </div>
        {{ end }}
        {{ end }}
        {{ $lastRemainder = $remainder }}
        {{ end }}
        {{ if (not (eq $lastRemainder 2.0)) }}
        <div class="column">
        </div>
    </div>
    {{ end }}
    </div>
</section>
{{ end }}

