{{ $customCss := resources.Get "css/style.css" }}
{{ $bulmaSass := resources.Get "bulma/bulma.sass" }}
{{ $options := (dict "outputStyle" "nested" "includePaths" (slice "assets/bulma" "assets/bulma/sass" "targetPath" "css/bulma.css" )) }}
{{ $bulma := $bulmaSass | resources.ToCSS $options }}
{{ $allCss := slice $customCss }}
{{ $css := $allCss | resources.Concat "css/main.css" }}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="{{ $bulma.Permalink }}" rel="stylesheet" type="text/css"/>
<link href="{{ $css.Permalink }}" rel="stylesheet" type="text/css"/>

{{ $customJs := resources.Get "js/custom.js" }}
{{ $p5MinJs := resources.Get "js/p5.min.js" }}
{{ $p5DomMinJs := resources.Get "js/p5.dom.min.js" }}
{{ $threeMinJs := resources.Get "js/three.min.js" }}
{{ $objLoaderJs := resources.Get "js/OBJLoader.js" }}
{{ $objLoader2Js := resources.Get "js/OBJLoader2.js" }}
{{ $loaderSupportJs := resources.Get "js/LoaderSupport.js" }}
{{ $mtlLoaderJs := resources.Get "js/MTLLoader.js" }}
{{ $orbitControlsJs := resources.Get "js/OrbitControls.js" }}
{{ $js := slice $customJs $p5MinJs $p5DomMinJs $objLoaderJs $orbitControlsJs $mtlLoaderJs | resources.Concat "js/bundleAsset.js" }}

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ $threeMinJs.Permalink }}"></script>
<script src="{{ $loaderSupportJs.Permalink }}"></script>
<script src="{{ $objLoader2Js.Permalink }}"></script>
<script src="{{ $js.Permalink }}"></script>
<script src="{{ "/js/dist/bundle.js" | absURL }}"></script>
