{{ define "main" }}
<section class="hero">
    <video 
         id="video-element-id"
         class="video"
         type="video/mp4"
         loop
         playsinline
         preload
         muted
         poster="{{ "/images/loading-roller-coaster.png" | absURL }}"
         >
         <source src="{{ "/videos/roller-coaster-short.mp4" | absURL }}" type="video/mp4">
         Your browser does not support HTML5 video.
    </video>
    <canvas id="canvas3d">
        このブラウザは
        <code>&lt;canvas&gt;</code> 要素をサポートしていません。
    </canvas>
</section>
{{ end }}

