{{ define "main" }}
<section class="hero">
    <video 
         id="video-element-id"
         class="video"
         type="video/mp4"
         loop
         autoplay
         playsinline
         preload
         muted
         poster="{{ "/images/loading-roller-coaster.png" | absURL }}"
         >
         <source src="{{ "/videos/roller-coaster.mp4" | relURL }}" type="video/mp4">
    </video>

    <!--<iframe id="video-background" style="width: 100%; height: 810px; margin-left: 0px; top: 50%; left: 0px;" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/tWUVxOroLhs"></iframe>-->

<!--<div id="player" style="width: 100%; height: 810px; margin-left: 0px; left: 0px;">-->
<!--</div>-->
</section>
<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    const playerVars = {
        mute: 1,
    }
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '810',
            width: '100%',
            videoId: 'tWUVxOroLhs',
            playerVars: playerVars,
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>
{{ end }}
